.container {
  display: flex;
  gap: 2rem;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 30px;
  border: 1px dashed var(--color4);
}

.container button svg {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.buttons button {
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.buttons button:hover {
  transform: scale(1.1);
}

.buttons button:first-of-type {
  color: var(--color-edit);
}

.buttons button:last-of-type {
  color: var(--color-red);
  font-size: 1.7rem !important;
}

.buttons button:last-of-type:disabled {
  opacity: 0.5;
}

.status {
  align-self: center;
  margin-right: 2rem;
}

.status p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color4);
}

@media only screen and (max-width: 900px) {
  .status {
    margin-right: 0rem;
    width: 250px;
  }
}

@media only screen and (max-width: 630px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
  }

  .buttons {
    flex-direction: row;
  }

  .status {
    margin-right: 0rem;
    width: fit-content;
  }
}
