.header {
  width: 100%;
  background-color: var(--color4);
  padding: 1.5rem 0rem;
  top: 0;
  position: fixed;
  left: 0;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.5);
}

.header div {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin: auto;
  color: var(--color-white);
  align-items: center;
  gap: 2rem;
}

.header h1 {
  color: var(--color1);
  font-size: 1.8rem;
}

.header ul {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.header button {
  background: none;
  color: var(--color-white);
  font-size: 1.2rem;
}

.header button a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header button a svg {
  font-size: 1.4rem;
}

.header a {
  transition: all 0.2s ease-in;
}

.header a:hover {
  color: var(--color2);
}
