.container {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.cities h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.7rem;
  color: var(--color3);
}

.cities span {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: var(--color-white);
  padding: 2rem 5rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px var(--color-shadow);
}

.profiles {
  margin-bottom: 10rem;
}

.categories {
  display: flex;
  gap: 3rem;
}

.categories li {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in;
}

.categories li:hover {
  transform: rotate(10deg);
}

.categories li img {
  border-radius: 20px;
}

.categories li span {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color3);
  margin-top: 2rem;
}

.sliderItem {
  text-align: center;
}

.sliderItem2 {
  padding: 0rem 1rem;
}

@media only screen and (max-width: 1300px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}

@media only screen and (max-width: 900px) {
  .container {
    gap: 8rem;
  }

  .cities h2 {
    margin-bottom: 3rem;
  }
}
