.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.container label {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color4);
}

.container input {
  font-size: 1.05rem;
  cursor: pointer;
}
