.container {
  margin: 12rem auto 7rem;
  min-height: 100vh;
  max-width: 1800px;
}

@media only screen and (max-width: 1900px) {
  .container {
    max-width: 1500px;
  }
}

@media only screen and (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    max-width: 100%;
    padding: 0rem 2rem;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    margin: 8rem auto 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 0rem 1rem;
  }
}