.container {
  display: flex;
  gap: 5rem;
}

.content {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  flex: 1;
}

.content h2 {
  font-size: 1.8rem;
  color: var(--color3);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.content h3 {
  font-size: 1.4rem;
  color: var(--color4);
}

.content div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 3px 3px 10px var(--color-shadow);
  background: var(--color-white);
  background: linear-gradient(
    122deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 236, 229, 1) 100%
  );
}

.content div p {
  font-size: 1.1rem;
  line-height: 2;
  color: var(--color-text);
}

.content ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--color-text);
}

.details {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: fit-content;
  box-shadow: 3px 3px 10px var(--color-shadow);
  padding: 1rem;
  background: var(--color-white);
  background: linear-gradient(
    122deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(240, 236, 229, 1) 100%
  );
}

.details p {
  width: 20rem;
  font-size: 1.1rem;
  color: var(--color-text);
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}

.details p:nth-child(2n) {
  background-color: var(--color-shadow);
}

.details p span {
  color: var(--color4) !important;
  font-weight: 400;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 0.3rem;
}
