.container {
  display: flex;
  gap: 5rem;
}

.content {
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.content h2 {
  font-size: 1.8rem;
  color: var(--color3);
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.content h3 {
  font-size: 1.4rem;
  color: var(--color4);
}

.content div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content div p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--color-text);
}

.content ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: square;
  list-style-position: inside;
  font-size: 1.05rem;
  font-weight: 400;
  color: var(--color-text);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  width: -webkit-fill-available;
}

.details p {
  font-size: 1.1rem;
  color: var(--color-text);
}

.details p span {
    color: var(--color4) !important;
    font-weight: 400;
}
