/* CSS RESET START */
:root {
  font-weight: 200;
  line-height: 1.3;

  /* colors */
  --color1: #f0ece5;
  --color2: #b6bbc4;
  --color3: #31304d;
  --color4: #161a30;
  --color-text: #424242;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-red: #da0000;
  --color-link: #001fb9;
  --color-edit: #005400;
  --color-border: #e9e9e9;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  display: inline-block;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  line-height: 1.5;
}

input {
  outline: none;
}

ol,
ul {
  list-style: none;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

body {
  /* margin: auto;
  max-width: 1500px;
  min-height: 100vh;
  padding: 3rem 1rem; */
  background-color: var(--color1);
}
/* CSS RESET END */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color4);
}
